<div class="hero">

<h1>Another Alex Merced Blog</h1>

</div>
<nav>
<a href="https://alexmercedcoder.github.io/">Portfolio</a>
<a href="https://github.com/alexmercedcoder">Github</a>
<a href="https://www.linkedin.com/in/alexmerced/">LinkedIN</a>
<a href="https://www.youtube.com/channel/UCoc4UCEetAt3htM3hV1dQgQ">Youtube</a>
<a href="https://open.spotify.com/show/1kMcquypdIElTu4Nu98XPM">Podcast</a>
</nav>
