<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <% include ./partials/head.ejs %>
    </head>


    <!-- THE BODY OF THE WEBSITE -->
    <body>

        <header>
            <% include ./partials/header.ejs %>
        </header>





<!-- CONTENT OF PAGE BEGINS -->
        <main>
            <a href="/index/newblog">Create Post</a>
            <% for (let post of data.reverse()){ %>

                <div class = "postcontainer">
                <h2><%= post.title %></h2>

                <a href="/index/<%= post.id %>/edit">Edit Post</a>

                </div>

            <% } %>
        </main>
<!-- CONTENT OF PAGE ENDS -->







        <footer>
            <% include ./partials/footer.ejs %>
        </footer>


    </body>
    <!-- END OF THE HTML FILE -->

</html>
