<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <% include ./partials/head.ejs %>
    </head>


    <!-- THE BODY OF THE WEBSITE -->
    <body>

        <header>
            <% include ./partials/header.ejs %>
        </header>





<!-- CONTENT OF PAGE BEGINS -->
        <main>

            <div class="createcontainer">
                <h1>Edit Post</h1>
       <form action="/index/<%=data.id%>?_method=PUT" method="POST">
           Title<br><input type="text" name="title" value="<%= data.title%>"/><br/>
           Author<br><input type="text" name="author" value="<%= data.author%>"/><br/>
           Body<br> <textarea name="body" cols="50" rows="10" value=""><%= data.body%></textarea>
           <br>
           <input type="submit" name="" value="Submit Post"/>



            </div>
        </main>
<!-- CONTENT OF PAGE ENDS -->







        <footer>
            <% include ./partials/footer.ejs %>
        </footer>


    </body>
    <!-- END OF THE HTML FILE -->

</html>
